body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

#main-nav {
  height: 55px;
  width: 100%;
  color: white;
  background-color: grey;
  font-weight: bold;
}

#main-nav > ul {
  height: 100%;
  margin: 0 15px 0 0;
  padding: 0;
  float: right;
  display: inline-block;
}

#main-nav > ul li {
  height: 100%;
  margin: 0 5px 0 5px;
  display: inline-block;
}

#main-nav > ul li a {
  height: 100%;
  padding-top: 17px;
  color: inherit;
  display: inline-block;
}
