#img1 {
  height: 300px;
  width: auto;
  /* oder anersrum */
}

#img2 {
  width: 25%;
  height: auto;
}

#img3 {
  width: 50%;
  height: auto;
  min-width: 300px;
}

#img4 {
  height: 300px;
  width: auto;
}
