div {
  height: 300px;
  width: 200px;
  margin: 20px;
  background-color: grey;
}

/* Float-Right DIV bauen */

#rightFloat {
  float: right;
}

/* Float-Left DIV bauen */

#leftFloat {
  float: left;
}

/* Clear-DIV in die Mitte packen.

- Soll nicht umflossen werden
- clear: left, right, both, inherit

*/

#noFloats {
  clear: right;
  margin-left: 45%;
}

/* Floats nebeneinander. Praktisch, weil umbrechen, wenn zu Eng. */

.floats {
  float: left;
  background-color: yellow;
}
