div {
  height: 200px;
  width: 200px;
  background-color: grey;
  margin-bottom: 20px;
}

/* Kurzschreibweise vs. Langeschreibweise */

#div1 {
  border: 10px solid #F00;
}

#div2 {
  border-width: 10px;
  border-style: solid;
  border-color: #F00;
}

/* Verschiedene Border-Styles für einzelne Seiten */

#div3 {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #F00;

  border-bottom-width: 20px;
  border-bottom-style: dotted;
  border-bottom-color: #00F;
}
