ul.test1 {
  list-style-type: square;
  /* viele andere:  https://www.w3schools.com/cssref/pr_list-style-type.asp */
}

ul.test2 {
  list-style-position: inside;
  /* list-style-position: outside; */
}

ul.test3 {
  list-style-image: url(pfeil.png);
}

ul.test4 {
  list-style: square inside url(pfeil.png);
}

ul.test5 > li {
  display: inline-block;
}
