/*

  - Schriftarten -> font-family
  - Schriftarten werden vererbt
  - reicht also, wenn man font-family für body-Element festlegt
  - man kann (und sollte!) mehrere Schriftarten festlegen. Erste wird genommen,
  wenn verfügbar und sonst sind die anderen Fallback-Schriftarten.
  - am Ende sollte man dann auch noch einen generellen Schrift-Familie angeben
  (serif, sans-serif, cursive, fantasy, monospace)
  -> diese Varianten kennt eigentlich jeder Browser

*/

body {
  font-family: Tahoma, Verdana, sans-serif;
}

#p1 {
  font-family: serif;
}

#p2 {
  font-family: sans-serif;
}

#p3 {
  font-family: cursive;
}

#p4 {
  font-family: fantasy;
}

#p5 {
  font-family: monospace;
}

#p6 {
  font-family: 'Sedgwick Ave Display', cursive;
}
