body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

* {
  box-sizing: border-box;
}

/* Nur um alles sichtbar zu machen! */

.outline, .outline *{
  outline: 1px solid #91c4ff;
}

[class*='col-'] {
  background-color: #bfddff;
}

[class*='col-'] > p {
  background-color: #91c4ff;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

/* Eigentliches Grid-System */

.container{
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.row:after {
  content:"";
  display: table;
  clear:both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 12px;
  background-color: #bfddff;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

@media all and (max-width: 922px) {

  .col-1{ width: 33.3%;   }
  .col-2{ width: 33.3%;  }
  .col-3{ width: 100%;  }
  .col-6{ width: 100%;  }

}

@media all and (max-width: 768px) {

  .col-1{ width: 50%;   }
  .col-2{ width: 100%;  }
  .col-3{ width: 100%;  }
  .col-6{ width: 100%;  }

}

@media all and (max-width: 576px) {

   .col-1{ width: 100%; }
   .col-2{ width: 100%; }
   .col-3{ width: 100%; }
   .col-6{ width: 100%; }

 }
