/* Es gibt 4 Stati in denen sich ein Link befinden kann:
  - unbenutzt
  - benutzt
  - darüber hovern
  - aktiv
*/

/* unvisited link */
a:link {
    color: #F00;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #0F0;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #00F;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #0FF;
    text-decoration: underline;
}
